<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-8">

            </div>
        </div>
        <div class="row">
            
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Packages</h4>
                    </div>
                    <div class="content">
                        <div class="table-full-width">
                            <table datatable [dtOptions]="dtOptions" class="table table-border">
                              <thead>
                                <tr>
                                  <th>Package name</th>
                                  <th>Instance ID</th>
                                  <th>Status</th>
                                  <th>Priority</th>
                                  <th>Submitted by</th>
                                  <th>Submission timestamp</th>
                                  <th>Completion timestamp</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>Licence document</td>
                                  <td>P1</td>
                                  <td>Running</td>
                                  <td>5</td>
                                  <td>User1</td>
                                  <td>2017-09-07 15:10:45</td>
                                  <td>2017-09-07 22:18:24</td>
                                </tr>
                                <tr>
                                  <td>Licence document</td>
                                  <td>P1</td>
                                  <td>Running</td>
                                  <td>5</td>
                                  <td>User1</td>
                                  <td>2017-09-07 15:10:45</td>
                                  <td>2017-09-07 22:18:24</td>
                                </tr>
                                <tr>
                                  <td>Licence document</td>
                                  <td>P1</td>
                                  <td>Running</td>
                                  <td>5</td>
                                  <td>User1</td>
                                  <td>2017-09-07 15:10:45</td>
                                  <td>2017-09-07 22:18:24</td>
                                </tr>
                                <tr>
                                  <td>Licence document</td>
                                  <td>P1</td>
                                  <td>Running</td>
                                  <td>5</td>
                                  <td>User1</td>
                                  <td>2017-09-07 15:10:45</td>
                                  <td>2017-09-07 22:18:24</td>
                                </tr>
                                <tr>
                                  <td>Licence document</td>
                                  <td>P1</td>
                                  <td>Running</td>
                                  <td>5</td>
                                  <td>User1</td>
                                  <td>2017-09-07 15:10:45</td>
                                  <td>2017-09-07 22:18:24</td>
                                </tr>
                                <tr>
                                  <td>Licence document</td>
                                  <td>P1</td>
                                  <td>Running</td>
                                  <td>5</td>
                                  <td>User1</td>
                                  <td>2017-09-07 15:10:45</td>
                                  <td>2017-09-07 22:18:24</td>
                                </tr>
                                <tr>
                                  <td>Licence document</td>
                                  <td>P1</td>
                                  <td>Running</td>
                                  <td>5</td>
                                  <td>User1</td>
                                  <td>2017-09-07 15:10:45</td>
                                  <td>2017-09-07 22:18:24</td>
                                </tr>
                                <tr>
                                  <td>Licence document</td>
                                  <td>P1</td>
                                  <td>Running</td>
                                  <td>5</td>
                                  <td>User1</td>
                                  <td>2017-09-07 15:10:45</td>
                                  <td>2017-09-07 22:18:24</td>
                                </tr>
                                <tr>
                                  <td>Licence document</td>
                                  <td>P1</td>
                                  <td>Running</td>
                                  <td>5</td>
                                  <td>User1</td>
                                  <td>2017-09-07 15:10:45</td>
                                  <td>2017-09-07 22:18:24</td>
                                </tr>
                                <tr>
                                  <td>Licence document</td>
                                  <td>P1</td>
                                  <td>Running</td>
                                  <td>5</td>
                                  <td>User1</td>
                                  <td>2017-09-07 15:10:45</td>
                                  <td>2017-09-07 22:18:24</td>
                                </tr>
                                <tr>
                                  <td>Licence document</td>
                                  <td>P1</td>
                                  <td>Running</td>
                                  <td>5</td>
                                  <td>User1</td>
                                  <td>2017-09-07 15:10:45</td>
                                  <td>2017-09-07 22:18:24</td>
                                </tr>
                                <tr>
                                  <td>Licence document</td>
                                  <td>P1</td>
                                  <td>Running</td>
                                  <td>5</td>
                                  <td>User1</td>
                                  <td>2017-09-07 15:10:45</td>
                                  <td>2017-09-07 22:18:24</td>
                                </tr>
                              </tbody>
                            </table>
                        </div>
                        <div class="footer">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-history"></i> Updated 3 minutes ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
