
<div class="sidebar-wrapper">
    <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text">
            <div class="logo-img">
                <img src="/assets/img/angular2-logo-white.png"/>
            </div>
            My Dashboard
        </a>
    </div>
    <ul class="nav responsive-nav">
        <li routerLinkActive="active">
            <a [routerLink]="['/dashboard']">
                <i class="pe-7s-graph"></i>
                <p>Dashboard</p>
            </a>
        </li>
    </ul>
</div>
